{% extends 'base.html' %} 
{% block content %} 
<h1>백엔드 3조 화이팅~~~~</h1>
<table>
    <tr>
      <th>이름</th>
      <th>직책</th>
    </tr>
    <tr>
      <td>박영신</td>
      <td>자랑스러운 멘토</td>
    </tr>
    <tr>
      <td>김윤성</td>
      <td>멋있는 멘토</td>
    </tr>
    <tr>
      <td>이상준</td>
      <td>멘티</td>
    </tr>
    <tr>
      <td>정세윤</td>
      <td>멘티</td>
    </tr>
    <tr>
      <td>최나래</td>
      <td>멘티</td>
    </tr>
    <tr>
      <td>합계</td>
      <td>5명</td>
    </tr>
  </table>
{% endblock %}   